@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Merriweather:wght@700&display=swap');

@font-face {
  font-family:supreme ;
  src: url(assets/fonts/Superme-GOx4A.ttf)
}

@font-face {
  font-family: matchout;
  src: url(assets/fonts/MATCHOUT-LIGHT.otf)
}

@font-face {
  font-family: Cang ;
  src: url(assets/fonts/Cangste-9Y8ln.otf);
}

@font-face {
  font-family: kros ;
  src: url(assets/fonts/Krosta-Demo.otf);
}

#logo {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 60px;
}

.logo-abt {
  font-family: kros;
  font-weight: bold;
  color: white;
}


/* hero */
.bn4 {
  background-color: #ffffff;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.7em 1.7em;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.bn4:hover {
  opacity: 1;
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* body */

h1 {
  font-size: 40px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
/* about section  */
.about {
  text-align: center;
}
.about p {
  padding: 10px 50px 10px ;

}

#about {
  padding-top: 50px;
}

.home img {
  padding: 40px
}

.home h1 {
  font-size: 30px;
  padding: 30px;
}

/* cards */
.artistCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  padding: 25px;
}

/* footer styling */
footer p {
  text-align: center;
}

.copyright {
  font-size: xx-small;
}