@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

#logo {
  font-family: 'GFS Didot', serif;
}

.about {
  text-align: center;
}

footer p {
  text-align: center;
}