@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

#logo {
  font-family: 'GFS Didot', serif;
  font-size: 33px;
  letter-spacing: 7px;
}

/* Nav */
nav {
  position: sticky;
  top: 0;
  z-index: 9999;
}
/* about section  */
.about {
  text-align: center;
}
.about p {
  padding: 10px 50px 10px ;

}

.home img {
  padding: 40px
}

.home h1 {
  font-size: 30px;
  padding: 30px;
}

/* cards */
.artistCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  padding: 25px;
}

/* footer styling */
footer p {
  text-align: center;
}

.copyright {
  font-size: xx-small;
}